<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Extensões - CEDUP</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: rgb(57, 70, 70);">
  <div id="cabeça "  class="bg-dark">
    <nav class="h-25 nav justify-content-xl-between bg-dark text-white">


        <div  style=" max-width:150px"class="float-xl-start ">
            <img src="../img/Logo cedup.png" class="img-thumbnail bg-dark" alt="..." width="90%">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" width="60%">
            </form>
        </div>
        
        <nav>
            <div class=" text-center"></div>
            <div class=" text-center">
                <span class="navbar-brand mb-0 h1 fs-4 text-center align-text-center">Centro de Educação Profissional Dario Geraldo Salles</span>
            </div>
            <div class="text-center">
                <span class="navbar-brand mb-0 h1 fs-4 text-center align-text-bottom">-CEDUP-</span>
            </div>
        </nav>

        <nav style="width:150px"class=" nav justify-content-end">
      <img src="../img/Logo red.png" class=" img-thumbnail rounded-circle" width="70%" height="70%" alt="...">
        </nav>
    </nav>
    <nav class="navbar bg-dark">
        <form class="container-fluid justify-content-center">

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/index.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Página Inicial</a>
          
          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Horarios.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Horários de Aula</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/NEM.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">NEM</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Extensoes.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Extensões</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Comunicados.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Comunicados</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Cursos.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Cursos Técnicos</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/APP.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">APP</a>

          <li style="width:12%" class="nav-item dropdown btn btn-outline-light me-1">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mais 
            </a>
            <ul style="width:100px" class="dropdown-menu">
              <li ><a class="dropdown-item" href="Profs.html">Professores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Secretaria.html">Secretaria</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Contato.html">Contato</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Biblioteca.html">Biblioteca</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Cardapio.html">Cardápio</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="NewWays.html">Novos Caminhos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-wrap" href="#">Vagas de Estágio e de Emprego</a></li>
            </ul>
          </li>
          
        </form>
        
      </nav>
      <nav>
        <img src="../img/CEDUP.png" class="img-fluid" alt="..." style="width:100%">
      </nav>
    <nav class="placeholder-lg col-12 bg-dark align-text-center justify-content-center">
        <div class=" text-center justify-content-center">
            <span class="text-light align-text-center justify-content-center" >Extensões CEDUP</span>
        </div>
    </nav>
</div>












    <div id="corpo">
      <p class="flex-column">
        <div></div> 
  
          <button class="btn btn-dark   " type="button" data-bs-toggle="collapse" data-bs-target="#CSLG" aria-expanded="false" aria-controls="CSLG">
            CARMEM SEARA LEITE - GARUVA
          </button>
        <div class="d-flex flex-row justify-content-center">
        <div class="collapse flex-column-reverse w-75" id="CSLG">
          <div class="card card-body">
            <div class="card card-body">
              <h4>CARMEM SEARA LEITE - GARUVA</h4>
            </div>
            <embed src="../doc/CSLG.pdf" type="application/pdf" style="height: 400px;"></embed>

          </div>
        </div>
        </div>
        </p>
      <p>
        <div></div> 
  
          <button class="btn btn-dark   " type="button" data-bs-toggle="collapse" data-bs-target="#DGWBS" aria-expanded="false" aria-controls="DGWBS">
            DOM GREGÓRIO WARMELING - BARRA DO SUL 
          </button>
        <div class="d-flex flex-row justify-content-center">
        <div class="collapse flex-column-reverse w-75" id="DGWBS">
        <div class="card card-body">
          <div class="card card-body">
            <h4>DOM GREGÓRIO WARMELING - BARRA DO SUL</h4>
          </div>
          <embed src="../doc/DGWBS.pdf" type="application/pdf" style="height: 400px;"></embed>

        </div>
        </div>
        </div>
        </p>
        <p>
          <div></div> 
    
            <button class="btn btn-dark   " type="button" data-bs-toggle="collapse" data-bs-target="#MMJ" aria-expanded="false" aria-controls="MMJ">
              MARLI MARIA - JOINVILLE 
            </button>
          <div class="d-flex flex-row justify-content-center">
          <div class="collapse flex-column-reverse w-75" id="MMJ">
          <div class="card card-body">
            <div class="card card-body">
              <h4>MARLI MARIA - JOINVILLE</h4>
            </div>
            <embed src="../doc/MMJ.pdf" type="application/pdf" style="height: 400px;"></embed>
  
          </div>
          </div>
          </div>
          </p>
          <p>
            <div></div> 
      
              <button class="btn btn-dark   " type="button" data-bs-toggle="collapse" data-bs-target="#NZJ" aria-expanded="false" aria-controls="NZJ">
                NAGIB ZATTAR - JOINVILLE 
              </button>
            <div class="d-flex flex-row justify-content-center">
            <div class="collapse flex-column-reverse w-75" id="NZJ">
            <div class="card card-body">
              <div class="card card-body">
                <h4>NAGIB ZATTAR - JOINVILLE</h4>
              </div>
              <embed src="../doc/NZJ.pdf" type="application/pdf" style="height: 400px;"></embed>
    
            </div>
            </div>
            </div>
            </p>

            <p>
              <div></div> 
        
                <button class="btn btn-dark   " type="button" data-bs-toggle="collapse" data-bs-target="#OBJ" aria-expanded="false" aria-controls="OBJ">
                  OLAVO BILAC- JOINVILLE 
                </button>
              <div class="d-flex flex-row justify-content-center">
              <div class="collapse flex-column-reverse w-75" id="OBJ">
              <div class="card card-body">
                <div class="card card-body">
                  <h4>OLAVO BILAC- JOINVILLE</h4>
                </div>
                <embed src="../doc/OBJ.pdf" type="application/pdf" style="height: 400px;"></embed>
      
              </div>
              </div>
              </div>
              </p>

              <p>
                <div></div> 
          
                  <button class="btn btn-dark   " type="button" data-bs-toggle="collapse" data-bs-target="#JLJ" aria-expanded="false" aria-controls="JLJ">
                    JORGE LACERDA - JOINVILLE 
                  </button>
                <div class="d-flex flex-row justify-content-center">
                <div class="collapse flex-column-reverse w-75" id="JLJ">
                <div class="card card-body">
                  <div class="card card-body">
                    <h4>JORGE LACERDA - JOINVILLE</h4>
                  </div>
                  <embed src="../doc/JLJ.pdf" type="application/pdf" style="height: 400px;"></embed>
        
                </div>
                </div>
                </div>
                </p>

                <p>
                  <div></div> 
            
                    <button class="btn btn-dark   " type="button" data-bs-toggle="collapse" data-bs-target="#SCSFS" aria-expanded="false" aria-controls="SCSFS">
                      SANTA CATARINA - SÃO FRANCISCO DO SUL 
                    </button>
                  <div class="d-flex flex-row justify-content-center">
                  <div class="collapse flex-column-reverse w-75" id="SCSFS">
                  <div class="card card-body">
                    <div class="card card-body">
                      <h4>SANTA CATARINA - SÃO FRANCISCO DO SUL</h4>
                    </div>
                    <embed src="../doc/SCSFS.pdf" type="application/pdf" style="height: 400px;"></embed>
          
                  </div>
                  </div>
                  </div>
                  </p>

                  <p>
                    <div></div> 
              
                      <button class="btn btn-dark   " type="button" data-bs-toggle="collapse" data-bs-target="#TVRA" aria-expanded="false" aria-controls="TVRA">
                        TITOLÍVIO VENÂNCIO DA ROSA - ARAQUARI 
                      </button>
                    <div class="d-flex flex-row justify-content-center">
                    <div class="collapse flex-column-reverse w-75" id="TVRA">
                    <div class="card card-body">
                      <div class="card card-body">
                        <h4>TITOLÍVIO VENÂNCIO DA ROSA - ARAQUARI</h4>
                      </div>
                      <embed src="../doc/TVRA.pdf" type="application/pdf" style="height: 400px;"></embed>
            
                    </div>
                    </div>
                    </div>
                    </p>
    </div> 
</body>
</html>