<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Página Inicial - CEDUP</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: rgb(57, 70, 70);">
  <div id="cabeça "  class="bg-dark">
    <nav class="h-25 nav justify-content-xl-between bg-dark text-white">


        <div  style=" max-width:150px"class="float-xl-start ">
            <img src="../img/Logo cedup.png" class="img-thumbnail bg-dark" alt="..." width="90%">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" width="60%">
            </form>
        </div>
        
        <nav>
            <div class=" text-center"></div>
            <div class=" text-center">
                <span class="navbar-brand mb-0 h1 fs-4 text-center align-text-center">Centro de Educação Profissional Dario Geraldo Salles</span>
            </div>
            <div class="text-center">
                <span class="navbar-brand mb-0 h1 fs-4 text-center align-text-bottom">-CEDUP-</span>
            </div>
        </nav>

        <nav style="width:150px"class=" nav justify-content-end">
      <img src="../img/Logo red.png" class=" img-thumbnail rounded-circle" width="70%" height="70%" alt="...">
        </nav>
    </nav>
    <nav class="navbar bg-dark">
        <form class="container-fluid justify-content-center">

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/index.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Página Inicial</a>
          
          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Horarios.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Horários de Aula</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/NEM.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">NEM</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Extensoes.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Extensões</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Comunicados.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Comunicados</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Cursos.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Cursos Técnicos</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/APP.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">APP</a>

          <li style="width:12%" class="nav-item dropdown btn btn-outline-light me-1">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mais 
            </a>
            <ul style="width:100px" class="dropdown-menu">
              <li ><a class="dropdown-item" href="Profs.html">Professores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Secretaria.html">Secretaria</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Contato.html">Contato</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Biblioteca.html">Biblioteca</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Cardapio.html">Cardápio</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="NewWays.html">Novos Caminhos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-wrap" href="#">Vagas de Estágio e de Emprego</a></li>
            </ul>
          </li>
          
        </form>
        
      </nav>
      <nav>
        <img src="../img/CEDUP.png" class="img-fluid" alt="..." style="width:100%">
      </nav>
    <nav class="placeholder-lg col-12 bg-dark align-text-center justify-content-center">
        <div class=" text-center justify-content-center">
            <span class="text-light align-text-center justify-content-center" >Página Inicial</span>
        </div>
    </nav>
</div>

  
    <div id="corpo" class="d-flex justify-content-center"> 
      <div style="height: 110vh; width:180vh; background-color: rgb(154,166,177);box-shadow:#737a81 inset 10px 10px 40px 10px;" class="border border-2 rounded d-flex justify-content-around text-center flex-wrap my-4">

        <div class="mt-4">
          <div class="card card-body" style="height: 50vh; width: 100vh;" class="mt-4">
            <div>
              <h5>1 - Plano de Gestão</h5>
              <div style="height: 38vh; width: 95vh;" class="mt-1"><iframe src="https://drive.google.com/file/d/1dCPCp1NWi-JbkiRhJ_vitU1NWpax9RVc/preview" style="width:100%; height:90%;"></iframe>
              </div>
            </div>
          </div>
          <div class="mt-4">
          <div class="card card-body" style="height: 50vh; width: 100vh;" class="mt-4">
            <div>
              <h2>2 - O PAPEL DA ESCOLA</h2>
              <h3>2.1  Missão: Formar profissionais comprometidos com a melhoria da qualidade de vida, sustentabilidade e o progresso das organizações.</h3>
              <h3>2.2  Visão: Ser um centro de excelência em educação profissional e na formação de cidadãos aptos a difundir conceitos tecnológicos, humanos e de empreendedorismo.</h3>
            </div>
          </div>

        </div>
      </div>


</body>
</html>