<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Página Inicial - CEDUP</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: rgb(57, 70, 70);">
  <div id="cabeça "  class="bg-dark">
    <nav class="h-25 nav justify-content-xl-between bg-dark text-white">


        <div  style=" max-width:150px"class="float-xl-start ">
            <img src="../img/Logo cedup.png" class="img-thumbnail bg-dark" alt="..." width="90%">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" width="60%">
            </form>
        </div>
        
        <nav>
            <div class=" text-center"></div>
            <div class=" text-center">
                <span class="navbar-brand mb-0 h1 fs-4 text-center align-text-center">Centro de Educação Profissional Dario Geraldo Salles</span>
            </div>
            <div class="text-center">
                <span class="navbar-brand mb-0 h1 fs-4 text-center align-text-bottom">-CEDUP-</span>
            </div>
        </nav>

        <nav style="width:150px"class=" nav justify-content-end">
      <img src="../img/Logo red.png" class=" img-thumbnail rounded-circle" width="70%" height="70%" alt="...">
        </nav>
    </nav>
    <nav class="navbar bg-dark">
        <form class="container-fluid justify-content-center">

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/index.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Página Inicial</a>
          
          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Horarios.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Horários de Aula</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/NEM.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">NEM</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Extensoes.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Extensões</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Comunicados.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Comunicados</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/Cursos.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">Cursos Técnicos</a>

          <a style="width:12%" href="file:///O:/3INF1/a/DSI%20CEDUP%20AFGM/view/APP.html" class="btn btn-outline-light me-1" tabindex="-1" role="button" aria-disabled="true">APP</a>

          <li style="width:12%" class="nav-item dropdown btn btn-outline-light me-1">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mais 
            </a>
            <ul style="width:100px" class="dropdown-menu">
              <li ><a class="dropdown-item" href="Profs.html">Professores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Secretaria.html">Secretaria</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Contato.html">Contato</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Biblioteca.html">Biblioteca</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="Cardapio.html">Cardápio</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="NewWays.html">Novos Caminhos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-wrap" href="#">Vagas de Estágio e de Emprego</a></li>
            </ul>
          </li>
          
        </form>
        
      </nav>
      <nav>
        <img src="../img/CEDUP.png" class="img-fluid" alt="..." style="width:100%">
      </nav>
    <nav class="placeholder-lg col-12 bg-dark align-text-center justify-content-center">
        <div class=" text-center justify-content-center">
            <span class="text-light align-text-center justify-content-center" >Projeto Político Pedagógico (PPP)</span>
        </div>
    </nav>
</div>











    
<div id="corpo" class="d-flex justify-content-center"> 
  <div style="height: 200vh; width:180vh; background-color: rgb(154,166,177);box-shadow:#737a81 inset 10px 10px 40px 10px;" class="border border-2 rounded d-flex justify-content-around text-center flex-wrap my-4">
    
    <div class="mt-4">
      <div class="card card-body" style="height: 50vh; width: 68vh;" class="mt-4">
        <div>
          <h2>SIGNIFICADO</h2>
          <p>Projeto – Reúne propostas de ação concreta a executar durante determinado período de tempo.</p>
            <p>Político – Considera a escola como um espaço de formação de cidadãos conscientes, responsáveis e críticos, que atuarão individual e coletivamente na sociedade, modificando os rumos que ela vai seguir.
            </p> 
            <P>Pedagógico – Define e organiza as atividades e os projetos educativos necessários ao processo de ensino e aprendizagem.</P>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="card card-body" style="height: 50vh; width: 68vh;" class="mt-4">
        <div>
          <h2>BASE LEGAL</h2>
          <p>Inciso I do art. 12 da Lei n.º 9.394/96 (LDB - Lei de Diretrizes e Bases da Educação) e na Resolução CEE/SC n.º 182/2013, de 19.11.2013 - respeitadas as normas comuns e as do sistema estadual de ensino.</p>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="card card-body" style="height: 62vh; width: 68vh;" class="mt-4">
        <div>
          <h2>FUNÇÕES</h2>
          <p>Diagnóstico e análise da realidade da escola.</p>
          <P>Definição de objetivos e metas que atendam à política e às diretrizes que a determinam adequando-as às intenções, expectativas e decisões da equipe da escola.</P>
          <P>Determinação de atividades e tarefas a serem desenvolvidas elegendo as prioridades e descrevendo as condições e os recursos disponíveis (humanos, materiais e financeiros).</P>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="card card-body" style="height: 62vh; width: 68vh;" class="mt-4">
        <div>
          <h2>APROVAÇÃO E CONSOLIDAÇÃO
          </h2>
          <p>Estamos na etapa de consolidação do PPP do CEDUP, que foi aprovado em 15.05.2018 pelo Conselho Deliberativo Escolar. Até o dia 30.05.2018 toda a comunidade escolar ainda poderá participar da construção desse documento incluindo, adaptando ou excluindo algum item, para participar basta preencher o formulário disponível no link abaixo:
          </p>
          <P>https://docs.google.com/a/cedup.com.br/forms/d/1C3_qWeR2twYugEBpo66PviJ_IJPK8PYRtfzovXYUEug/viewform?edit_requested=true</P>
         
        </div>
      </div>
    </div>
    
    
    <div class="mt-4">
      <div class="card card-body" style="height: 53vh; width: 120vh;" class="mt-4">
        <div>
          <h2>REFERÊNCIAS</h2>
          <p>BORDIGON, Genuíno; GRACINDO, Regina V. A nova LDB e a política de formação de professores: um passo à frente e dois atrás. In: FERREIRA, N. S. C.; AGUIAR, M. da S. (Orgs.) Gestão da educação: impasses, perspectivas e compromissos. São Paulo: Cortez, 2000.</p>
          <P>BRASIL. Lei de Diretrizes e Bases da Educação Nacional: LDB n.º 9394/1996. Brasília: Senado Federal, Centro Gráfico, 1996.</P>
          <P>GADOTTI, Moacir. Escola cidadã. Coleção questões da nossa época. 7.ª ed. São Paulo: Cortez, 2001.</P>
          <P>LIBÂNEO, José Carlos. Organização e gestão da escola: teoria e prática. 4.ª ed. Goiânia: Alternativa, 2004.</P>
          <P>LOPES, Noêmia. O que é o projeto político pedagógico, 2013. Disponível em: <http://gestaoescolar.abril.com.br/aprendizagem/projeto-politico-pedagogico-ppp-pratica-610995.shtml>. Acesso em: 10 jul 2017.</P>
        </div>
      </div>
    </div>
    
   

    
    
  </div>
  </div>
</body>
</html>